@import "normalize.styl"
@import "Fonts.styl"
gris-oscuro = #333333
gris-claro = #818181

body
	font-family 'Varela Round', sans-serif
	font-size 16px
figure
	margin 0
img
	vertical-align top	
a
	text-decoration none


//buttons
.button-menu
	left .5em
	margin-top -10px
	position absolute
	top 5%
	color gris-claro
	font-size 18px
.container
	font-size 0
	padding 1.4rem
	text-align center
.border-botton
	border-bottom 1px solid gris-claro 
.menu
	display none
.relative
	position-relative 0
.header
	height 3.5em	
	.title
		font-size 1.1em
		text-align center
		line-height 3.5em
.deporte
	padding 1em
	font-size 1rem
	margin-bottom 1em
	width auto
	text-align center
	p
		margin .5em 0
.gris
	color gris-claro
.nombre
	color gris-claro
	text-align center
	font-size 14px
@media screen and (min-width:453px)
	.deporte
		display inline-block
		margin-right 1em
		&:nth-child(even)
			margin-right 1em

		



