<div>
	<h1 class="page-header" ng-if="datos">
		Tu registro
	</h1>
	<div class="col-md-3">
		<form name="claveForm" role="form" novalidate>
		  <div class="form-group">
		    <label for="Clave">Clave de registro</label>
		    <input type="text" class="form-control" id="txtClave" placeholder="Escribe tu clave de registro" ng-model="cv">
		  </div>
		  <a href="/#/registro/{{cv}}" type="submit" class="btn btn-danger">Enviar</a>
		</form>
	</div>
	<div class="col-md-9" ng-if="datos">
		<datos-registro><datos-registro>
	</div>
</div>