
<div ng-if="!sedes"class="error">
	<div class="jumbotron">
		<h1 class="text-center">
			 404 sede not found
		</h1> 
	</div>
</div>
<!--Titulo!-->
<h1 ng-if="sedes"  class="page-header text-center">
	{{sedes.name | uppercase}}
</h1>
<!--Todo el contenido de una sedes!-->
<div class="menuInterior">
	<h5 class="text-center">{{sedes.info}}</h5>
	<div class="panel panel-default" ng-repeat="events in sedes.events">
		<div class="panel -heading">
			<h5 class="text-center">{{events.name | uppercase}}</h5>
		</div>
		<table class="table table-bordered">
			<tr>
				<td>
					<label>Ramas</label>
				</td>
				<td>
					<span ng-repeat="ramas in events.branches" class="label marginRama rama-{{ramas | lowercase}}">{{ramas}}</span>
				</td>
			</tr>
			<tr>
				<td>
					<label for="">Categorias</label>
				</td>
				<td>
					<span ng-repeat="categorias in events.categories" class="label categoria{{categorias.id}}">{{categorias.name}}</span><br>
				</td>
			</tr>
			<tr>
				<td>
					<label for="">informacion</label>
				</td>
				<td>
					<p class="text-justify" ng-repeat="categorias in events.categories">{{categorias.info}}</p>
				</td>
			</tr>
		</table>
	</div>			
</div>


