<titulo-todo-sedes></titulo-todo-sedes>
<div>
	<div ng-repeat="sede in sedes">
		<!--Titulo!-->
		<h1 class="page-header">
			{{sede.name}}
			<span class="pull-right label label-success"># {{sede.id}}</span>
		</h1>
		<p class="text-center">
			<small>{{sede.info}}</small>
		</p>
		<!--Todo el contenido de una sede!-->
		<div class="row">
			<div class="col-md-4" ng-repeat="evento in sede.events">
				<div class="panel panel-default">
					<div class="panel panel-heading text-center">
						<h5>
							{{evento.name | uppercase}}
						</h5>
					</div>
					<div class="panel panel-body text-center">
						<p>
							{{evento.info}}
						</p>
						<div class="text-center">
							<label for="">ramas:</label>
							<label for="" class="label marginRama {{rama[0] | lowercase}}" ng-repeat="rama in evento.branches">{{rama}}</label>
						</div>	
							<label for="">Categorias:</label>					
							<label for="" ng-repeat="categorias in evento.categories" class="label label-primary categoria{{categorias.id}}">{{categorias.name}}</label>
					</div>
					<div class="panel-footer">
						<a href="/#sede/{{sede.id}}">Ver detalles</a>
					</div>
				</div>
			</div>			
		</div>		
	</div>
</div>

