<titulo-todo-sedes></titulo-todo-sedes>
<small class="col-md-offset-10"> <span class="glyphicon glyphicon-ok-circle"></span> showing <span class="badge">{{sedes.length}} </span> Sedes</small>
<div>
	<div ng-repeat="sede in sedes">
		<!--Titulo!-->
		<h1 class="page-header">
			{{sede.name}}
			<a class="pull-right btn btn-danger" href="/#sede/{{sede.id}}">Ver mas</a>
		</h1>
		<p class="text-center">
			<small>{{sede.info}}</small>
		</p>
		<!--Todo el contenido de una sede!-->
		<div class="row">
			<div class="col-md-4" ng-repeat="evento in sede.events">
				<div class="panel panel-default">
					<div class="panel panel-heading text-center">
						<h5>
							{{evento.name | uppercase}}
						</h5>
					</div>
					<div class="panel panel-body text-center">
						<p>
							{{evento.info}}
						</p>
						<div class="text-center">
							<label for="">ramas:</label>
							<label for=""  ng-repeat="rama in evento.branches" class="label marginRama  rama-{{rama | lowercase}}">{{rama}}</label>
						</div>	
							<label for="">Categorias:</label>					
							<label for="" ng-repeat="categorias in evento.categories" class="label label-primary categoria{{categorias.id}}">{{categorias.name}}</label>
					</div>
				</div>
			</div>			
		</div>		
	</div>
</div>

